services:
  pocketbase:
    build: .
    volumes:
      - /mnt/docker-storage/rodydavis/pb_data:/app/pb_data
    networks:
      - caddy
    labels:
      caddy: rodydavis.com
      caddy.reverse_proxy: "{{upstreams 80}}"
    restart: unless-stopped

networks:
  caddy:
    external: true