---
permalink: /tags/
layout: layouts/home.njk
---
<h1>Tags</h1>

<div class="tags">
{% for tag in collections.tagList %}
  {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
  <a class="click" href="{{ tagUrl | url }}"><div class="chip">{{ tag }}</div></a>
{% endfor %}
</div>

