@import url(card.css);

:root {
  --background: rgb(230, 230, 230);
  --foreground: black;
}

body {
  font-family: "Roboto";
  background: var(--background);
  color: var(--foreground);
  padding: 0;
  margin: 0;
}

header {
  background: var(--foreground);
  color: var(--background);
  padding: 1rem;
}

article {
  margin: auto;
  max-width: 860px;
}
