/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.1.0/github-markdown.min.css");

:root {
  --tags-background: #eee;
  --tags-color: #222;
  --body-background: #fff;
  --body-color: #444;
  --link-color: #daeb20;
  --code-background: #f2f2f2;
  --blockquote-color: #222;
  --blockquote-border: #999;
  --header-background: #fff;
  --header-color: #444;
  --tag-background: #eee;
  --tag-color: #222;
  --border-color: #eee;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    --tags-background: #222;
    --tags-color: #eee;
    --body-background: #222;
    --body-color: #eee;
    --link-color: #c4e202;
    --code-background: #333;
    --blockquote-color: #eee;
    --blockquote-border: #999;
    --header-background: #222;
    --header-color: #eee;
    --tag-background: #222;
    --tag-color: #eee;
    --border-color: #222;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  text-align: left;
  background-color: var(--body-background);
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.5;
  color: var(--body-color);
  color-scheme: light dark;
}

.markdown-body article {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
  color: var(--body-color);
}

a {
  color: var(--link-color);
}

nav a {
  margin-right: 10px;
}

textarea {
  width: 100%;
  font-size: 16px;
}

input {
  font-size: 16px;
}

content {
  line-height: 1.6;
}

table {
  width: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

code {
  padding: 2px 5px;
  background-color: var(--code-background);
}

pre {
  padding: 1rem;
}

pre>code {
  all: unset;
}

blockquote {
  border-left: 5px solid var(--blockquote-border);
  padding-left: 1rem;
  color: var(--blockquote-color);
}

li div {
  display: inline-block;
}

:is(iframe) {
  width: 100%;
  height: 500px;
}

:is(img[src="/attachments/app_store.png"], img[src="/attachments/google_play.png"]) {
  width: 200px;
  height: auto;
}

a {
  color: var(--link-color);
}