article {
  color: black;
  background-color: white;
  max-width: 720px;
  margin: 0 auto !important;
  float: none !important;
}
pre {
  padding-top: 10px;
  padding-bottom: 10px;
}
code {
  padding-left: 10px;
  background-color: #eee;
  border-radius: 3px;
  font-family: courier, monospace;
  display: block;
  white-space: pre-wrap;
}
p > img {
  width: 100%;
}
