<img src="img/banner.webp">

<div class="cards">
    {{#posts}}
    <a href="/posts{{slug}}">
        <div class="card">
            <span class="title">{{title}}</span>
        </div>
    </a>
    {{/posts}}
</div>