/* @import url('https://unpkg.com/@highlightjs/cdn-assets@11.9.0/styles/default.min.css'); */
/* @import url('/css/code-themes/dark.css') screen and (prefers-color-scheme: dark); */
/* @import url('/css/code-themes/light.css') screen and (prefers-color-scheme: light); */
@import url("//unpkg.com/highlightjs-copy/dist/highlightjs-copy.min.css");
@import url("/css/code-themes/auto.css");
@import url("/css/github-markdown.css");

@media print {
  :is(app-header, app-footer) {
    display: none;
  }
}

:root {
  --padding: 16px;
  --color: light-dark(rgba(226, 226, 226, 0.86), rgba(173, 186, 199, 0.18));
  --line-number-color: light-dark(
    rgba(36, 41, 46, 0.48),
    rgba(173, 186, 199, 0.51)
  );
  --radius: 12px;
  --code-bg: light-dark(#ffffff, #22272e);
  --code-fg: light-dark(#24292e, #adbac7);
}

pre {
  color-scheme: light dark;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background: var(--code-bg);
  color: var(--code-fg);
  border: 1px solid var(--color);
  padding: var(--padding);
  border-radius: var(--radius);
  width: calc(100% - (var(--padding) * 2));
  overflow-x: hidden;
  background-color: var(--markdown-pre-background); /* Updated */
}

img {
  border-radius: var(--radius);

  /* display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%; */
}

.hljs-copy-container .hljs-copy-button {
  /* margin-right: 20px;
  margin-top: 20px; */
  --hljs-theme-padding: 20px;
}

/* for block of numbers */
.hljs-ln-numbers {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  text-align: center;
  color: var(--line-number-color);
  border-right: 1px solid var(--color);
  vertical-align: top;
  padding-right: 5px;

  /* your custom style here */
  .hljs-ln-n {
    margin-right: 6px;
  }
}

/* for block of code */
.hljs-ln td.hljs-ln-code {
  padding-left: 6px;
}

code,
kbd,
samp,
pre {
  font-family: var(--font-mono);
  font-feature-settings: normal;
  font-variation-settings: normal;
  font-size: 0.9em;
  color: var(--markdown-code-text); /* Updated */
}

article {
  max-width: 720px;
  margin: 0 auto;
  padding: 1rem;
  &:is(.markdown-body) {
    --bgColor-default: unset;
    --fgColor-default: unset;
  }
}

:where(a) {
  color: var(--markdown-link-text); /* Updated */
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  /* &:visited {
  color: var(--md-sys-color-secondary);
} */
}

iframe {
  width: 100%;
  min-height: 600px;
  border-radius: var(--radius);
  border: 1px solid var(--color);
}

.reactions {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 0.2rem;
  /* max-width: 400px; */
  margin-bottom: 1rem;
  align-items: center;
  justify-content: center;
  & > * {
    cursor: pointer;
    font-size: 1rem;
  }

  open-heart {
    padding: 1rem;
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    &:not([count="0"]) {
      background-color: var(--markdown-pre-background);
      border-radius: 50%;
    }
  }
}

.view-count {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;

  span {
    margin-right: 0.5rem;
  }
}

.markdown-body {
  font-size: 1rem;

  .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: 1rem;

    .tag {
      padding: 0.25rem 0.5rem;
      border-radius: 0.25rem;
      background-color: var(--markdown-tag-background);
      color: var(--markdown-tag-text);
      text-decoration: none;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  blockquote {
    --borderColor: var(--markdown-blockquote-default-border);
    --bgColor: var(--markdown-blockquote-default-bg);
    --fgColor: var(--markdown-blockquote-default-text);

    &:where(.warn) {
      --borderColor: var(--markdown-blockquote-warn-border);
      --bgColor: var(--markdown-blockquote-warn-bg);
      --fgColor: var(--markdown-blockquote-warn-text);
    }
    &:where(.info) {
      --borderColor: var(--markdown-blockquote-info-border);
      --bgColor: var(--markdown-blockquote-info-bg);
      --fgColor: var(--markdown-blockquote-info-text);
    }
    &:where(.error) {
      --borderColor: var(--markdown-blockquote-error-border);
      --bgColor: var(--markdown-blockquote-error-bg);
      --fgColor: var(--markdown-blockquote-error-text);
    }
    padding: 1rem;
    border-left: 4px solid var(--borderColor);
    background-color: var(--bgColor);
    color: var(--fgColor);
    a {
      color: var(--borderColor);
    }
  }
}

kbd {
  display: inline-block;
  padding: 3px 5px;
  font: 11px ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
    Liberation Mono, monospace;
  line-height: 10px;
  color: var(--markdown-kbd-text); /* Updated */
  vertical-align: middle;
  background-color: var(--markdown-kbd-background); /* Updated */
  border: solid 1px var(--color-fg-muted);
  border-bottom-color: var(--color-fg-default);
  border-radius: 6px;
  box-shadow: inset 0 -1px 0 var(--color-fg-default);
}
