---
import MainLayout from '../../layouts/MainLayout.astro'

const title = 'Apps';
const permalink = 'https://rodydavis.com/apps';
const content = {title, permalink};
---

<style>
  .apps {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(auto, 400px));
    grid-gap: 1rem;
    align-items: center;
    justify-items: center;
  }

  .app {
    flex: 1 1 auto;
    margin: 1rem;
    text-align: center;
    width: 300px;
    height: 400px;
    padding: 1rem;
  }

  .app-icon {
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
  }

  .app-title {
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
  }  

  .app:hover {
    outline: 1px solid var(--md-sys-color-outline);
    border-radius: 20px;
  }
</style>

<MainLayout {content}>
  <section>
      <div class="apps">
          <a href="/apps/widget-studio">
            <div class="app">
              <img class="app-icon" src="/img/widget-studio/icon.png">
              <div class="app-title">Widget Studio</div>
            </div>
          </a>

          <a href="/apps/the-pocket-piano">
            <div class="app">
              <img class="app-icon" src="/img/the-pocket-piano/icon.png">
              <div class="app-title">The Pocket Piano</div>
            </div>
          </a>

          <a href="/apps/the-pitch-pipe">
            <div class="app">
              <img class="app-icon" src="/img/the-pitch-pipe/icon.png">
              <div class="app-title">The Pitch Pipe</div>
            </div>
          </a>

          <a href="/apps/space-curiosity">
            <div class="app">
              <img class="app-icon" src="/img/space-curiosity/icon.png">
              <div class="app-title">Space Curiosity</div>
            </div>
          </a>

          <a href="/apps/hymns-for-worship">
            <div class="app">
              <img class="app-icon" src="/img/hymns-for-worship/icon.png">
              <div class="app-title">Hymns for Worship</div>
            </div>
          </a>
      </div>
  </section>

  <div class="app-links">
      <a target="_blank" rel="noopener noreferrer" href="https://apps.apple.com/us/developer/rody-davis/id1200052810">
        <div class="apple"></div>
      </a>
      <a target="_blank" rel="noopener noreferrer" href="https://play.google.com/store/apps/developer?id=Rhodes+Davis&hl=en_US&gl=US">
        <div class="google"></div>
      </a>
  </div>
</MainLayout>
