---
import Layout from "../layouts/RootLayout.astro";
import NoteList from "../components/NoteList.astro";

import { getConfig } from "../consts";
import type { MarkdownInstance } from "astro";

const { title, description } = getConfig().site;

// Check for readme in notes
let readme: MarkdownInstance<Record<string, any>> | null = null;
try {
  readme = await Astro.glob("../../notes/readme.md");
} catch (error) {}
const { Content } = readme || { Content: () => null };
---

<Layout title={title} description={description}>
  <main>
    {
      readme && (
        <article>
          <Content />
        </article>
      )
    }
    <div class="notes">
      <NoteList />
    </div>
  </main>
</Layout>
