---
import Layout from "../layouts/RootLayout.astro";
import SearchList from "../components/SearchList";
import { getNotes } from "../components/NoteList.astro";
import { getTagsFromSource } from "../components/TagList.astro";

const notes = await getNotes({ includeSkip: true }).then((notes) => {
  return notes.map((note) => {
    const md = note.props;
    const tags = getTagsFromSource(md);
    return {
      article: md,
      tags: tags,
      slug: note.params.slug,
    };
  });
});
---

<Layout title="Search" description="Search all notes">
  <main>
    <SearchList client:load notes={notes} />
  </main>
</Layout>
