---
import TagsLayout from "../layouts/TagsLayout.astro";
---

<TagsLayout title="Tags">
    <div
        class="flex-1 bg-[var(--bg-main)] flex items-center justify-center text-[var(--border-secondary)] h-full"
    >
        <div class="text-center">
            <p class="text-lg opacity-50 mt-4 text-[var(--fg-primary)]">
                Select a tag to view posts
            </p>
        </div>
    </div>
</TagsLayout>
