<header class="wrapper">
	<article>
		<h1>
			<a href="/">
				<img class="logo" src="/img/favicon/favicon.ico" alt="logo" />
				<span>Rody Davis</span>
			</a>
		</h1>
	</article>
</header>

<style>
	header {
		padding-top: 1rem;
		padding-bottom: 1rem;
		height: 5rem;
	}
	article {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	h1 {
		margin: 0;
		font-size: 1.5rem;
		max-width: 100%;
		display: flex;
		flex-grow: 1;
	}

	.logo {
		width: 2rem;
		height: 2rem;
	}

	svg {
		width: 2.5rem;
		height: 2.5rem;
	}

	h1 a {
		text-decoration: none;
		display: inline-flex;
	}
</style>
