---
const today = new Date();
import { getConfig } from "../consts.js";
import SocialBar from "./SocialBar.astro";
const config = getConfig();
const { copyright_name } = config.site;
const { social } = config;
---

<footer>
  <div class="copyright">
    &copy; {today.getFullYear()}
    {copyright_name}. All rights reserved.
  </div>

  <SocialBar links={social} />
</footer>

<style>
  footer {
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .copyright {
    text-align: center;
  }
</style>
