---
import HeaderLink from "./HeaderLink.astro";
import { getConfig } from "../consts.js";
const { site, menu } = getConfig();
const { title } = site;
---

<header>
  <span id="title">
    <a href="/">{title}</a>
  </span>
  <nav id="navigation">
    {
      menu.map(({ name, link, icon }) => (
        <HeaderLink href={link} icon={icon}>
          {" "}
          {name}
        </HeaderLink>
      ))
    }
  </nav>
</header>
<style>
  header {
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--header-background);
    color: var(--header-color);
    padding: 1em;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--border-color);
  }
  #title {
    margin: 0;
    font-size: 1.5em;
    font-weight: bold;
    color: var(--header-color);
  }
  #title a {
    color: var(--header-color);
    text-decoration: none;
  }
  #title a:hover {
    text-decoration: underline;
  }
  #navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
  }
  #navigation a {
    color: var(--header-color);
    text-decoration: none;
  }
  #navigation a:hover {
    text-decoration: underline;
  }
  @media (min-width: 720px) {
    header {
      flex-direction: row;
      align-items: center;
    }
  }
</style>
