---
import './post-preview';

let allPosts = await Astro.fetchContent('../data/blog-posts/*.md');
allPosts = allPosts.sort((a, b) => new Date(b.publishDate).valueOf() - new Date(a.publishDate).valueOf());
allPosts = allPosts.map(post => {
    const parts =  post.file.href.split('/') as string[];
    const slug = parts[parts.length - 1].split('.')[0];
    return {
        ...post,
       url: `/posts/${slug}`,
    };
});

---

<style>
.posts {
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  width: calc(100% - 2rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 960px;
}

post-preview {
  width: 100% !important;
  margin: 0.5rem 0;
}
</style>

<div class="posts" aria-label="Blog post list">
      {allPosts.map((p) => {
          const post = {...p};
          return <post-preview {post}></post-preview>;
      })}
</div>