---
import type { MarkdownHeading } from "astro";

interface Props {
  headings: MarkdownHeading[];
}

const { headings } = Astro.props;
---

<details>
  <summary>Table of Contents</summary>
  <ul>
    {
      headings.map((heading: MarkdownHeading) => (
        <li>
          <a href={`#${heading.slug}`} class={`heading-depth-${heading.depth}`}>
            {heading.text}
          </a>
        </li>
      ))
    }
  </ul>
</details>

<style>
  nav {
    padding: 0.5rem;
    width: 250px;
  }
  h2 {
    margin: 0;
    white-space: nowrap;
  }
  details {
    background: var(--tag-background);
    color: var(--tag-color);
    padding: 0.5rem;
    border-radius: 0.5rem;
  }

  details[open] {
    border-bottom: 1px solid var(--border-color);
  }

  summary {
    cursor: pointer;
    font-size: 1.25rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
  }
</style>
