{{define "title"}}
Apps
{{end}}

{{define "body"}}
<vscode-layout>
  <vscode-sidebar slot="sidebar"></vscode-sidebar>
  <main>
      <h1>{{.title}}</h1>
      <apps-list>
          {{range .apps}}
          <app-tile icon="{{.app_icon}}" name="{{.name}}" link="{{.link}}"></app-tile>
          {{end}}
      </apps-list>
  </main>
</vscode-layout>
<style>
main {
  padding: 1rem;
  margin: 0 auto;
  max-width: 800px;
  min-height: 90vh;
}
</style>
<script type="module" src="/js/components/apps-list.js"></script>
<script type="module" src="/js/components/app-tile.js"></script>
{{end}}