<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <link rel="stylesheet" href="/css/global.css">
  <script type="importmap">
    {
      "imports": {
        "lit": "https://esm.run/lit",
        "@lit-labs/preact-signals": "https://esm.run/@lit-labs/preact-signals",
        "@preact/signals-core": "https://esm.run/@preact/signals-core"
      }
    }
  </script>
  <!-- <link rel="stylesheet" href="https://early.webawesome.com/webawesome@3.0.0-alpha.8/dist/styles/themes/default.css" />
  <script type="module" src="https://early.webawesome.com/webawesome@3.0.0-alpha.8/dist/webawesome.loader.js"></script> -->
  {{block "head" .}}
  <title>Rody Davis</title>
  {{end}}
</head>

<body>
  {{block "header" .}}
  <app-header title="Rody Davis"></app-header>
  <!-- <app-drawer></app-drawer> -->
  <script type="module" src="/js/components/app-header.js"></script>
  <script type="module" src="/js/components/app-footer.js"></script>
  <!-- <script type="module" src="/js/components/app-drawer.js"></script> -->
  {{end}}
  {{block "body" .}}
  {{end}}
  <app-footer></app-footer>
  <script src="/js/theme.js"></script>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-JQNPVBL9DR"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "G-JQNPVBL9DR");
  </script>
</body>

</html>