{{define "head"}}
<link rel="stylesheet" href="/css/markdown.css">
<link rel="stylesheet" href="/css/blog.css">
<!-- Canonical URL -->
<link rel="canonical" href={{.url}} />

<!-- Primary Meta Tags -->
<title>{{.title}}</title>
<meta name="title" content="{{.title}}" />
<meta name="description" content="{{.description}}" />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content="{{.url}}" />
<meta property="og:title" content="{{.title}}" />
<meta property="og:description" content="{{.description}}" />
{{if .image}}
<meta property="og:image" content="{{.image}}" />
{{end}}

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content="{{.url}}" />
<meta property="twitter:title" content="{{.title}}" />
<meta property="twitter:description" content="{{.description}}" />
{{if .image}}
<meta property="twitter:image" content={{.image}} />
{{end}}
{{end}}

{{define "body"}}
<article class="markdown-body">
    <h1>{{.title}}</h1>
    <div class="tags">
        {{range .tags}}
        <tag-item slot="tags" link="/tags/{{.id}}" name="{{.name}}"></tag-item>
        {{end}}
    </div>
    {{.content|raw}}
</article>
<script src="//unpkg.com/@highlightjs/cdn-assets@11.9.0/highlight.min.js"></script>
<script src="//unpkg.com/@highlightjs/cdn-assets@11.9.0/languages/javascript.min.js"></script>
<script src="//unpkg.com/@highlightjs/cdn-assets@11.9.0/languages/markdown.min.js"></script>
<script src="//unpkg.com/@highlightjs/cdn-assets@11.9.0/languages/sql.min.js"></script>
<script src="//unpkg.com/@highlightjs/cdn-assets@11.9.0/languages/dart.min.js"></script>
<script src="//unpkg.com/@highlightjs/cdn-assets@11.9.0/languages/go.min.js"></script>
<script src="//unpkg.com/@highlightjs/cdn-assets@11.9.0/languages/python.min.js"></script>
<script src="//unpkg.com/@highlightjs/cdn-assets@11.9.0/languages/yaml.min.js"></script>
<script src="//unpkg.com/@highlightjs/cdn-assets@11.9.0/languages/json.min.js"></script>
<script src="//unpkg.com/@highlightjs/cdn-assets@11.9.0/languages/ruby.min.js"></script>
<script src="//unpkg.com/@highlightjs/cdn-assets@11.9.0/languages/html.min.js"></script>
<script src="//unpkg.com/@highlightjs/cdn-assets@11.9.0/languages/xml.min.js"></script>
<script src="//unpkg.com/highlightjs-copy/dist/highlightjs-copy.min.js"></script>
<script src="/js/open-heart.js" type="module"></script>
<script type="module" src="/js/components/tag-item.js"></script>
<!-- <script src="//cdnjs.cloudflare.com/ajax/libs/highlightjs-line-numbers.js/2.9.0/highlightjs-line-numbers.min.js"></script> -->
<script>
    // get all tags with language-markup and add language-html
    document.querySelectorAll('pre.language-markup').forEach((block) => {
        block.classList.remove('language-markup');
        block.classList.add('language-html');
    });
    hljs.addPlugin(new CopyButtonPlugin());
    hljs.highlightAll();
    // hljs.initLineNumbersOnLoad({ singleLine: true });
</script>
<div class="reactions">
    {{range .emojis}}
    <open-heart href="{{.Target}}" emoji="{{.Emoji}}" count="0">
        {{.Emoji}}
    </open-heart>
    {{end}}
</div>
<div class="view-count">
    <span>{{.views}}</span> view(s)
</div>
{{end}}