footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  & .links {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 0.5rem;

    & img {
      width: 20px;
      height: 20px;
    }
  }

  & .copyright {
    opacity: 0.5;
  }
}
