<!doctype html>
<html lang="en" domain="{{ metadata.domain }}" {% if googleanalytics %} ga-id="{{ googleanalytics }}" {% endif %}>
  <head>
    <meta charset="utf-8">
    <meta
    name="viewport" content="width=device-width, initial-scale=1.0">
    {# <meta http-equiv="Content-Security-Policy" content="{{ csp.regular | safe }}"> #}
    {% if isdevelopment %}
      <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    {% else %}
      <link rel="icon" href="{{ '/img/favicon/favicon-32x32.png' | addHash }}" type="image/png">
    {% endif %}
    <meta name="theme-color" content="#f9c412">
    <meta name="robots" content="max-snippet:-1, max-image-preview: large, max-video-preview: -1">
    <title>{{ renderData.title or title or metadata.title | escape }}</title>
    <meta property="og:title" content="{{ renderData.title or title or metadata.title | escape }}"> {% set desc = renderData.description or description %}
    {% if not desc %}
      {% set desc = content | striptags | truncate(140) %}
    {% endif %}
    {% if desc %}
      <meta name="description" content="{{ desc | escape }}">
      <meta property="og:description" content="{{ desc | escape }}">
    {% endif %}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@{{ metadata.author.twitter }}">
    <meta name="twitter:creator" content="@{{ metadata.author.twitter }}">
    {% if image %}
      <meta property="og:image" content="{{ image | absoluteUrl(metadata.url) }}">
    {% endif %}
    <link
    rel="canonical" href="{{ metadata.url }}{{ canonicalUrl or page.url }}"> <!-- This is a blog and so it SHOULD be safe and it is nice for the web
                to send referrers cross-origin.
                However, if you use sensitive data in URLs, consider changing this to
                a value like `origin-when-cross-origin`
                https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Referrer-Policy -->
    <meta name="referrer" content="no-referrer-when-downgrade">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="preconnect" href="/" crossorigin>
    <script async defer src="{{ "/js/min.js" | addHash }}" {% if webvitals %} data-cwv-src="{{ "/js/web-vitals.js" | addHash }}" {% endif %}></script>
    {% if googleanalytics %}
      <script async defer src="{{ "/js/cached.js" | addHash }}"></script>
    {% endif %}
    <!-- Notably iOS UAs also contain Mac OS X -->
    <script csp-hash>
      if (/Mac OS X/.test(navigator.userAgent)) 
        document
          .documentElement
          .classList
          .add('apple')
    </script>

    <script type="text/javascript">
      function getCode(repo, path, branch) {
        const url = `https://raw.githubusercontent.com/rodydavis/${repo}/${branch}/${path}`;
        return fetch(url).then((res) => res.text());
      }
      async function addFiles(tag, path, branch = "main") {
          const ide = document.querySelector('playground-ide');
          const ui = await getCode(tag, 'index.html', branch);
          const code = await getCode(tag, `src/${path}`, branch);
          const name = path.split('.ts').join('.js');
          const config = { files: {} };
          config.files['index.html'] = { content:  ui.split(`/src/${path}`).join(`./${name}`) };
          config.files[path] = { content: code };
          ide.config = config;
          ide.id = 'playground';
          ide.className = 'playground-theme-tomorrow-night-eighties'
      }
    </script>

    <script
      type="module"
      src="https://unpkg.com/playground-elements@0.10.0/playground-ide.js?module"
    ></script>
    <!-- css is inserted by optimize-html custom plugin -->

    <style>
      playground-ide {
        height: 500px;
        width: 100%;
        --playground-preview-width: 40%;
        --playground-code-background: var(--background);
        --playground-tab-bar-background: var(--background);
        --playground-tab-bar-foreground-color: var(--on-background);
        --playground-border: var(--on-background);
        --playground-preview-toolbar-background: var(--background);
        --playground-preview-toolbar-foreground-color: var(--on-background);
        --playground-highlight-color: var(--primary);
        --playground-code-default-color: var(--primary);
        --playground-code-font-family: var(--default-font);
      }
    </style>
  </head>
  <body>
    <header>
      <nav>
        <div id="nav">
          <h1>
            <a href="{{ '/' | url }}" title="Homepage">{{ metadata.title }}</a>
          </h1>
          {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
          {%- for entry in collections.all | eleventyNavigation %}
            <a href="{{ entry.url | url }}">{{ entry.title }}</a>
          {%- endfor %}
        </div>
        <div id="reading-progress" aria-hidden="true"></div>
      </nav>
      <h1>{{ title }}</h1>
      {% block extraArticleHeader %}{% endblock %}
      <dialog id="message"></dialog>
      {% if googleanalytics %}
        <noscript>
          <img
            src="/.netlify/functions/ga?v=1&_v=j83&t=pageview&dr=https%3A%2F%2Fno-script.com&_s=1&dh={{ metadata.domain | encodeURIComponent }}&dp={{ page.url | encodeURIComponent }}&ul=en-us&de=UTF-8&dt={{ title|encodeURIComponent }}&tid={{ googleanalytics }}"
            width="1"
            height="1"
            style="display:none"
            alt="">
        </noscript>
      {% endif %}
    </header>
    <main>
      <article>
        {% block article %}
          {{ content | safe }}
        {% endblock %}
        {% if page.url.indexOf("/posts/") > -1 %}
          <p>Published
            <time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
          </p>
        {% endif %}
      </article>
    </main>
    <footer>
      {% if metadata.author.twitter %}
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://twitter.com/{{ metadata.author.twitter }}"
          class="fab fa-twitter"></a>
      {% endif %}
      {% if metadata.author.facebook %}
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://facebook.com/{{ metadata.author.facebook }}"
          class="fab fa-facebook"></a>
      {% endif %}
      {% if metadata.author.linkedin %}
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://www.linkedin.com/in/{{ metadata.author.linkedin }}"
          class="fab fa-linkedin"></a>
      {% endif %}
      {% if metadata.author.youtube %}
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://www.youtube.com/{{ metadata.author.youtube }}"
          class="fab fa-youtube"></a>
      {% endif %}
      {% if metadata.author.instagram %}
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://www.instagram.com/{{ metadata.author.instagram }}"
          class="fab fa-instagram"></a>
      {% endif %}
      {% if metadata.author.github %}
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://www.github.com/{{ metadata.author.github }}"
          class="fab fa-github"></a>
      {% endif %}
      {% if metadata.author.tiktok %}
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://www.tiktok.com/@{{ metadata.author.tiktok }}"
          class="fab fa-tiktok"></a>
      {% endif %}
    </footer>
    <!-- Current page: {{ page.url | url }} -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-JQNPVBL9DR"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'G-JQNPVBL9DR');
    </script>
  </body>
</html>