<!doctype html>
<html lang="en" domain="{{ metadata.domain }}" {% if googleanalytics %} ga-id="{{ googleanalytics }}" {% endif %}>
  <head>
    <meta charset="utf-8">
    <meta
    name="viewport" content="width=device-width, initial-scale=1.0">
    {# <meta http-equiv="Content-Security-Policy" content="{{ csp.regular | safe }}"> #}
    {% if isdevelopment %}
      <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    {% else %}
      <link rel="icon" href="{{ '/img/favicon/favicon-32x32.png' | addHash }}" type="image/png">
    {% endif %}
    <meta name="theme-color" content="#f9c412">
    <meta name="robots" content="max-snippet:-1, max-image-preview: large, max-video-preview: -1">
    <title>{{ renderData.title or title or metadata.title | escape }}</title>
    <meta property="og:title" content="{{ renderData.title or title or metadata.title | escape }}"> {% set desc = renderData.description or description %}
    {% if not desc %}
      {% set desc = content | striptags | truncate(140) %}
    {% endif %}
    {% if desc %}
      <meta name="description" content="{{ desc | escape }}">
      <meta property="og:description" content="{{ desc | escape }}">
    {% endif %}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@{{ metadata.author.twitter }}">
    <meta name="twitter:creator" content="@{{ metadata.author.twitter }}">
    {% if image %}
      <meta property="og:image" content="{{ image | absoluteUrl(metadata.url) }}">
    {% endif %}
    <link
    rel="canonical" href="{{ metadata.url }}{{ canonicalUrl or page.url }}"> <!-- This is a blog and so it SHOULD be safe and it is nice for the web
                                              to send referrers cross-origin.
                                              However, if you use sensitive data in URLs, consider changing this to
                                              a value like `origin-when-cross-origin`
                                              https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Referrer-Policy -->
    <meta name="referrer" content="no-referrer-when-downgrade">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="preconnect" href="/" crossorigin>
    <script async defer src="{{ "/js/min.js" | addHash }}" {% if webvitals %} data-cwv-src="{{ "/js/web-vitals.js" | addHash }}" {% endif %}></script>
    {% if googleanalytics %}
      <script async defer src="{{ "/js/cached.js" | addHash }}"></script>
    {% endif %}
    <!-- Notably iOS UAs also contain Mac OS X -->
    <script csp-hash>
      if (/Mac OS X/.test(navigator.userAgent)) 
        document
          .documentElement
          .classList
          .add('apple')
    </script>
    <script type="text/javascript">
      function getCode(repo, path, branch) {
        const url = `https://raw.githubusercontent.com/rodydavis/${repo}/${branch}/${path}`;
        return fetch(url).then((res) => res.text());
      }
      async function addFiles(tag, path, branch = "main") {
        const output = document.querySelector('#playground');
        output.removeAttribute('hidden');
        const codeEditor = document.createElement('playground-file-editor');
        const uiEditor = document.createElement('playground-file-editor');
        const preview = document.createElement('playground-preview');
        const ide = document.createElement('playground-project');
        ide.id = "project";
        function addScript(filename, source) {
          const elem = document.createElement('script');
          elem.setAttribute('type', `sample/${
            filename.split('.').pop()
          }`);
          elem.setAttribute('filename', filename);
          elem.innerHTML = source;
          ide.append(elem);
        }
        const name = path.split('.ts').join('.js');
        const ui = await getCode(tag, 'index.html', branch);
        addScript('index.html', ui.split(`/src/${path}`).join(`./${name}`));
        preview.setAttribute('project', ide.id);
        uiEditor.setAttribute('project', ide.id);
        uiEditor.setAttribute('filename', path);
        output.append(preview);
        const code = await getCode(tag, `src/${path}`, branch);
        addScript(path, code);
        codeEditor.setAttribute('line-numbers', '');
        codeEditor.setAttribute('project', ide.id);
        codeEditor.setAttribute('filename', path);
        output.append(codeEditor);
        output.append(ide);
      }
    </script>
    <script type="module" src="https://unpkg.com/playground-elements@0.10.0/playground-project.js?module"></script>
    <script type="module" src="https://unpkg.com/playground-elements@0.10.0/playground-file-editor.js?module"></script>
    <script type="module" src="https://unpkg.com/playground-elements@0.10.0/playground-preview.js?module"></script>
    <script type="text/javascript" src="https://dartpad.dev/inject_embed.dart.js" defer></script>
    <!-- css is inserted by optimize-html custom plugin -->
    <style>
      #playground {
        --playground-preview-width: 40%;
        --playground-tab-bar-background: var(--background);
        --playground-tab-bar-foreground-color: var(--on-background);
        --playground-border: var(--on-background);
        --playground-preview-toolbar-background: var(--background);
        --playground-preview-toolbar-foreground-color: var(--on-background);
        --playground-highlight-color: var(--primary);
        --playground-code-background: rgb(48, 65, 72);
        --playground-code-default-color: rgb(248, 248, 242);
        --playground-code-cursor-color: rgb(248, 248, 240);
        --playground-code-selection-background: rgba(101, 115, 126, 0.33);
        --playground-code-gutter-background: rgb(48, 65, 72);
        --playground-code-gutter-border-right: 0;
        --playground-code-linenumber-color: rgb(208, 208, 208);
        --playground-code-atom-color: rgb(197, 148, 197);
        --playground-code-attribute-color: rgb(197, 148, 197);
        --playground-code-builtin-color: rgb(102, 217, 239);
        --playground-code-comment-color: rgb(101, 115, 126);
        --playground-code-def-color: rgb(102, 153, 204);
        --playground-code-keyword-color: rgb(197, 148, 197);
        --playground-code-meta-color: rgb(248, 248, 242);
        --playground-code-number-color: rgb(249, 145, 87);
        --playground-code-operator-color: rgb(248, 248, 242);
        --playground-code-qualifier-color: rgb(248, 248, 242);
        --playground-code-string-color: rgb(153, 199, 148);
        --playground-code-string-2-color: rgb(248, 248, 242);
        --playground-code-tag-color: rgb(197, 148, 197);
        --playground-code-type-color: rgb(248, 248, 242);
        --playground-code-variable-color: rgb(248, 248, 242);
        --playground-code-variable-2-color: rgb(248, 248, 242);
        --playground-code-variable-3-color: rgb(248, 248, 242);
        --playground-code-callee-color: rgb(248, 248, 242);
        --playground-code-property-color: rgb(153, 199, 148);
        --playground-code-font-family: var(--default-font);
        --playground-code-font-size: 90%;
        --playground-code-background: var(--surface-background);
      }
    </style>
  </head>
  <body>
    <header>
      <nav>
        <div id="nav">
          <h1>
            <a href="{{ '/' | url }}" title="Homepage">{{ metadata.title }}</a>
          </h1>
          {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
          {%- for entry in collections.all | eleventyNavigation %}
            <a href="{{ entry.url | url }}">{{ entry.title }}</a>
          {%- endfor %}
        </div>
        <div id="reading-progress" aria-hidden="true"></div>
      </nav>
      <h1>{{ title }}</h1>
      {% block extraArticleHeader %}{% endblock %}
      <dialog id="message"></dialog>
      {% if googleanalytics %}
        <noscript>
          <img
            src="/.netlify/functions/ga?v=1&_v=j83&t=pageview&dr=https%3A%2F%2Fno-script.com&_s=1&dh={{ metadata.domain | encodeURIComponent }}&dp={{ page.url | encodeURIComponent }}&ul=en-us&de=UTF-8&dt={{ title|encodeURIComponent }}&tid={{ googleanalytics }}"
            width="1"
            height="1"
            style="display:none"
            alt="">
        </noscript>
      {% endif %}
    </header>
    <main>
      <article>
        {% block article %}
          {{ content | safe }}
        {% endblock %}
        {% if page.url.indexOf("/posts/") > -1 %}
          <p>Published
            <time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
          </p>
        {% endif %}
      </article>
    </main>
    <footer>
      {% if metadata.author.twitter %}
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://twitter.com/{{ metadata.author.twitter }}"
          class="fab fa-twitter"></a>
      {% endif %}
      {% if metadata.author.facebook %}
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://facebook.com/{{ metadata.author.facebook }}"
          class="fab fa-facebook"></a>
      {% endif %}
      {% if metadata.author.linkedin %}
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://www.linkedin.com/in/{{ metadata.author.linkedin }}"
          class="fab fa-linkedin"></a>
      {% endif %}
      {% if metadata.author.youtube %}
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://www.youtube.com/{{ metadata.author.youtube }}"
          class="fab fa-youtube"></a>
      {% endif %}
      {% if metadata.author.instagram %}
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://www.instagram.com/{{ metadata.author.instagram }}"
          class="fab fa-instagram"></a>
      {% endif %}
      {% if metadata.author.github %}
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://www.github.com/{{ metadata.author.github }}"
          class="fab fa-github"></a>
      {% endif %}
      {% if metadata.author.tiktok %}
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://www.tiktok.com/@{{ metadata.author.tiktok }}"
          class="fab fa-tiktok"></a>
      {% endif %}
    </footer>
    <!-- Current page: {{ page.url | url }} -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-JQNPVBL9DR"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'G-JQNPVBL9DR');
    </script>
  </body>
</html>