---
import BaseHead from '../components/BaseHead.astro';
import BlogContent from '../components/BlogContent.astro';
import '../components/app-header';
import '../components/social-links';

const { content } = Astro.props;
const { title, description, permalink, } = content;
---

<html lang={content.lang || 'en'}>
	<head>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prism-themes@1.9.0/themes/prism-lucario.css"/>
               <link rel="me" href="https://fluttercommunity.social/@rodydavis">https://fluttercommunity.social/@rodydavis">
		<BaseHead {title} {description} {permalink} />
        <style>
         :root {
            --width: 100%;
            --height: 600px;
         }
         .content, app-header{
            width: 100%;
         }
		 img {
			 border-radius: 20px;
		 }
    </style>
	</head>

	<body>
		<app-header {title} client:load></app-header>
		<BlogContent class="content"><slot /></BlogContent>
		<div style="height: 25px"></div>
		<social-links></social-links>
	</body>
</html>
