.hljs {
  color: light-dark(#24292e, #adbac7);
  background: light-dark(#ffffff, #22272e);
}

.hljs-doctag,
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-variable.language_ {
  /* prettylights-syntax-keyword */
  color: light-dark(#d73a49, #f47067);
}

.hljs-title,
.hljs-title.class_,
.hljs-title.class_.inherited__,
.hljs-title.function_ {
  /* prettylights-syntax-entity */
  color: light-dark(#6f42c1, #dcbdfb);
}

.hljs-attr,
.hljs-attribute,
.hljs-literal,
.hljs-meta,
.hljs-number,
.hljs-operator,
.hljs-variable,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id {
  /* prettylights-syntax-constant */
  color: light-dark(#005cc5, #6cb6ff);
}

.hljs-regexp,
.hljs-string,
.hljs-meta .hljs-string {
  /* prettylights-syntax-string */
  color: light-dark(#032f62, #96d0ff);
}

.hljs-built_in,
.hljs-symbol {
  /* prettylights-syntax-variable */
  color: light-dark(#e36209, #f69d50);
}

.hljs-comment,
.hljs-code,
.hljs-formula {
  /* prettylights-syntax-comment */
  color: light-dark(#6a737d, #768390);
}

.hljs-name,
.hljs-quote,
.hljs-selector-tag,
.hljs-selector-pseudo {
  /* prettylights-syntax-entity-tag */
  color: light-dark(#22863a, #8ddb8c);
}

.hljs-subst {
  /* prettylights-syntax-storage-modifier-import */
  color: light-dark(#24292e, #adbac7);
}

.hljs-section {
  /* prettylights-syntax-markup-heading */
  color: light-dark(#005cc5, #316dca);
  font-weight: bold;
}

.hljs-bullet {
  /* prettylights-syntax-markup-list */
  color: light-dark(#735c0f, #eac55f);
}

.hljs-emphasis {
  /* prettylights-syntax-markup-italic */
  color: light-dark(#24292e, #adbac7);
  font-style: italic;
}

.hljs-strong {
  /* prettylights-syntax-markup-bold */
  color: light-dark(#24292e, #adbac7);
  font-weight: bold;
}

.hljs-addition {
  /* prettylights-syntax-markup-inserted */
  color: light-dark(#22863a, #b4f1b4);
  background-color: light-dark(#f0fff4, #1b4721);
}

.hljs-deletion {
  /* prettylights-syntax-markup-deleted */
  color: light-dark(#b31d28, #ffd8d3);
  background-color: light-dark(#ffeef0, #78191b);
}

.hljs-char.escape_,
.hljs-link,
.hljs-params,
.hljs-property,
.hljs-punctuation,
.hljs-tag {
  /* purposely ignored */
}